@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

h1 {
  font-family: 'Share Tech', sans-serif;
  font-size: 64px ;
  margin-top: 30px;
}

.Landing_space {
  width: 300px;
  height: 120px;
  padding: 50px;
  /* border: 1px solid red; */
}

.Landing_text {
  font-family: 'Share Tech', sans-serif;
  font-size: 22px;
  margin-top: 40px;
}

.Link_Space {
  width: 300px;
  height: 140px;
  /* border: 1px solid blue; */
}

.landinglinks,
.aboutlink {
  font-family: 'Bad Script', cursive;
  background-color:white;
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* .about__content {
  max-width: 60%;
  font-family: 'Share Tech', sans-serif;
}

.about__skills {
  max-width: 20%;
} */

.about__title {
  font-family: 'Share Tech', sans-serif;
  font-size: 78px;
}

.skills__title {
  font-family: 'Share Tech', sans-serif;
  text-align: center;
}

i {
  font-size: 3.5rem;
  margin: 1rem;
}

/* .dev-icon {
  font-size: 3.5rem;
  margin: 1rem;
}

.devicon {
  font-size: 3.5rem;
  margin: 1rem;
} */

.portfolio_container {
  text-align: center;
  font-family: 'Share Tech', sans-serif;
}

#projects {
  font-size: 64px;
}

.grid {
  text-align: center;
}

.portfoliolinks {
  font-family: 'Bad Script', cursive;
}